/*
@media screen and (max-width: 700px){}
@media screen and (max-width: 699px) and (min-width: 401 px){}
@media screen and (max-width: 400px){}
*/

/* GENERAL */

.img-responsive{
	max-width: 100%;
	max-height: 100%;
}

.center{
	max-width: 900px;
	margin: auto;
}

/* HEADER */

.navbar{
	padding: 20px 10px 30px 10px;
}

.navbar ul{
	float: right;
}

.navbar li{
	display: inline-block;
	font-family: 'Open Sans', "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none; 
	padding: 10px 13px 0px 5px;
}

.navbar li a{
	color: black;
	text-decoration: none; 
}

.pre{
	position: relative;
}
.imagenheader{
	background-image: url("../	assets/indexbanner-bg3.jpg");
	background-size: 100%;
	padding-bottom: 36%;
	background-position: top left;
	background-repeat: no-repeat;
	position: relative;
}

.tituloheader{
	display: inline;
    position: absolute;
	top: 18%;
    left: 26%;
    color: white;
    font-family: "Raleway", "OpenSans", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.textoheader1{
	display: inline;
    position: absolute;
	top: 33%;
    left: 26%;
    color: silver;
    font-family: "Raleway", "OpenSans", sans-serif;
    font-size: 18px;
}

.textoheader2{
	display: inline;
    position: absolute;
    top: 40%;
    left: 26%;
    color: silver;
    font-family: "Raleway", "OpenSans", sans-serif;
    font-size: 18px;
}

.searchContainer{
	position: relative;
    bottom: 60px;
}

.formbuscador{
    max-width: 900px;
    margin: auto;
}

.botonbuscador1{
	font-family: 'Open Sans', "Raleway", sans-serif;
    width: 79%;
    padding: 3% 0px 3% 20px;
    font-size: 16px;
    box-shadow: -1px 5px 8px 0px #C0C0C0;
    border: none;
}

.botonbuscador2{
	font-family: 'Open Sans', "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	width: 20%;
    padding: 3% 0px 3% 0px;
    color: white;
    background: #01aff4;
    border: none;
    font-size: 16px;

	}

/* SECTION 1 */

.section1{
	display: flex;
	justify-content: center;
    padding: 20px 0px 80px 0px;
}

.artsection1{
	margin: 24px;
	text-align: center;
}

.iconos{
	height: 65px;
}

.iconos:hover{
	transform: scale(1.25);
	transition: 1s ease-in-out;

}

.artsection1 h3{
	font-family: 'Open Sans', "Raleway", sans-serif;
	font-size: 14px;
    text-transform: uppercase;
    padding: 25px 0px 15px 0px;
    font-weight: bold;
    letter-spacing: 2px;
}

.artsection1 p{
	font-family: 'Open Sans', "Raleway", sans-serif;
	font-size: 13px;
    font-weight: lighter;
	
}

/* SECTION 2 */

.section2 h2{
	font-family: "Raleway", "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 35px;
    position: relative;
    max-width: 254px;
    margin: auto;
}

.texto{
	font-family: "Raleway", "OpenSans", sans-serif;
    font-size: 18px;
    position: relative;
    max-width: 352px;
    margin: auto;
    padding: 15px;
    font-weight: lighter;
}

.contenedorSection2{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.subContenedor1Section2, .subContenedor3Section2{
	display: flex;
	flex-direction: column;
	padding-top: 30px;

}

.subContenedor2Section2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px 15px;
}

.subContenedor1Section2{
	padding-right: 00px;

}
.subContenedor1Section2 article, .subContenedor3Section2 article{
	padding-top: 23px;
}

.subContenedor1Section2 article img{
	float: right;
	padding-bottom: 30px;
	width: 40px;
}

.subContenedor3Section2 article img{
	float: left;
	padding-bottom: 30px;
	width: 40px;

}

.subContenedor1Section2 article h3{
	text-align: right;
    text-transform: uppercase;
    padding: 14px 70px 20px 0px;
	font-weight: bold;
}

.subContenedor1Section2 article p{
	text-align: right;
	padding-right: 70px
}

.subContenedor3Section2 article h3{
	text-align: left;
	text-transform: uppercase;
    padding: 14px 0px 20px 70px;
    font-weight: bold;
}


.subContenedor3Section2 article p{
	text-align: left;
	padding-left: 70px
}

/* SECTION 3 */

.section3{
	background-image: url(../assets/pricing-bg.jpg);
	background-size: 100%;
	background-position: top left;
	background-repeat: no-repeat;
	bottom: 47px;
    position: relative;
    z-index: -1;
    margin-bottom: 250px;
	}

.div1section3{
	position: relative;
    max-width: 382px;
    margin: auto;
    top: 160px;
    text-align: center;
}

.pricingTables{
	font-family: "Raleway", "OpenSans", sans-serif;
	font-weight: bold;
	font-size: 35px;
}

.pricingTables2{
    font-family: "Raleway", "OpenSans", sans-serif;
    font-size: 18px;
    padding-top: 15px;
}

.div2section3{
	font-family: 'Open Sans', "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 220px;
}

.div2section3 article{
	background: white;
	box-shadow: 0px 1px 12px grey;
	padding: 14px 0px 44px 0px;
	flex: 1;
	margin: 0px 7px;
}

.paquete{
	text-transform: uppercase;
	margin: 60px 44px 30px 40px;
	font-weight: bold;
	font-size: 15px;
}

.precio{
	font-size: 40px;
    font-weight: bold;
}

.precio:before{
	content: "$";
	font-size: 15px;
    vertical-align: super;
}

.precio:after{
	content: " .99";
	font-size: 20px;
    vertical-align: super;
}


.precio2{
	color: grey;
	font-style: italic;
	padding-bottom: 40px;
}

.precio3{
	padding: 10px;
}

.precioboton{
	text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #01aff4;
    padding: 10px 30px;
    border-radius: 5%;
    top: 16px;
    position: relative;
}

.divfooter1{
	background: #142e3f;
	text-align: center;
	height: 200px;
	color: white;
    padding: 100px 0px;
    box-sizing: border-box;
    font-family: "Raleway", "Open Sans", sans-serif;
    font-size: 25px;

}

.divfooter2{
    font-family: "Raleway", "Open Sans", sans-serif;
	background: #091722;
	color: #C0C0C0;
	padding: 50px 0px;
	font-size: 11px;

}

.navbardown{
	max-width: 900px;
	margin: auto;
}

.navbardown ul{
	float: right;

}

.navbardown li{
	display: inline-block;

}

.navbardown li a{
    color: white;
    text-decoration: none;
    padding: 0px 5px 0px 21px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 977px){

	.center{
		max-width: 977px;
		margin: auto;
	}

	.navbar ul{
		display: inline;
		float: none;
		position: relative;
    	left: 30%;
	}

	.navbar li{
		font-size: 10px;
		display: inline-block;
		font-family: 'Open Sans', "Raleway", sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		text-decoration: none; 
		padding: 10px 13px 0px 5px;
	}

	.imagenheader{
		background-image: url("../	assets/indexbanner-bg3bis.jpg");
		background-size: 100%;
		padding-bottom: 57%;
		background-position: top left;
		background-repeat: no-repeat;
		position: relative;
	}

	.tituloheader{
		display: inline;
	    position: absolute;
	    top: 35%;
	    left: 1%;
	    color: white;
	    font-family: "Raleway", "OpenSans", sans-serif;
	    font-size: 30px;
	    font-weight: bold;
	}

	.textoheader1{
		display: inline;
	    position: absolute;
		top: 45%;
	    left: 1%;
	    color: silver;
	    font-family: "Raleway", "OpenSans", sans-serif;
	    font-size: 18px;
		}

	.textoheader2{
		display: inline;
	    position: absolute;
	    top: 52%;
	    left: 1%;
	    color: silver;
	    font-family: "Raleway", "OpenSans", sans-serif;
	    font-size: 18px;
		}

	.section1{
		flex-wrap: wrap;
	}

	.artsection1{
		max-width: none;
		margin: 24px 15px;
	}
	
	.section2{
		padding-bottom: 20px;
	}

	.section3{
		bottom: 0px;
    }

    .div2section3{
    	flex-wrap: wrap;
    }

    .div2section3 article {
        width: 48%;
        flex: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .precioboton{
        padding: 10px 36%;
    }

    .navbardown span{
    	display: block;
    	text-align: center;
    	padding-bottom: 20px;
    }

    .navbardown ul{
    	float: none;
	    max-width: 154px;
    	margin: auto;
    }

    .navbardown li a {
    	padding: 0px 20px 0px 20px;
    }

}

@media screen and (max-width: 768px){
	.section1{
		flex-wrap: wrap;
		background: blue;
	}	

}

@media screen and (max-width: 580px){
	.section1{
		flex-wrap: wrap;
		background: red;
	}

}
/*

@media screen and (max-width: 699px) and (min-width: 401px){
	.section1{
		flex-wrap: wrap;
	}
	.section1 article{
		max-width: 38%;
	
	}
}

@media screen and (max-width: 400px){
	.section1{
		flex-direction: column;
	}
	.section1 article{
		
	}
}*/